* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "khula";
}

body {
	display: flex;
	background: #f8f8fb;
}

#body {
	flex-direction: column;
	width: 100%;
	display: flex;
}

header {
	width: 100px;
	height: 100vh;
	background: #373b53;
	display: flex;
	flex-direction: column;
}

.logo {
	width: 100px;
	height: 100px;
	background: #6f52ed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#nav-group {
	margin-top: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
}

#nav-group li,
#nav-group ul {
	list-style: none;
}

#nav-group li {
	margin-bottom: 20px;
}

#select {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	background-color: #fff;
	border-radius: 25%;
}

#nav-settings {
	width: 100px;
	border-top: 1px solid #494e67;
}

#nav-settings li {
	padding: 40px;
}

main {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.container {
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-main {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search span {
	color: #a6acbe;
	margin-left: 8px;
}

.user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name-function {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-right: 12px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.nome {
	font-weight: 600;
	font-size: 14px;
}

.function {
	font-size: 12px;
	color: #a6acbe;
}

.icon {
	display: flex;
	width: 200px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons ul,
.icons li {
	list-style: none;
}

.avatar {
	padding: 8px;
}

#more {
	padding-right: 15px;
}

#div {
	height: 50px;
	border: 1px solid #eff4f7;
	margin-right: 10px;
}

#notifications {
	margin-right: 10px;
}

#dash {
	width: 100%;
	display: flex;
	justify-content: center;
}

.dashboard {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.title-dash {
	font-size: 30px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
}

.sub-dash {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #a6acbe;
}

.button {
	display: flex;
}

.manage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 204px;
	height: 50px;
	border: 1px solid #d0d1da;
	border-radius: 7px;
	margin-right: 20px;
}

.manage a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #6F52ED;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.01em;
	text-decoration: none;
}

.manage img {
	margin-right: 10px;
}

.create {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 204px;
	height: 50px;
	background: #6F52ED;
	border-radius: 7px;
}

.create a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.01em;
	text-decoration: none;
}

.create img {
	margin-right: 10px;
}

#elements {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.elements {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.element {
	display: flex;
	align-items: center;
	width: 395px;
	height: 151px;
	background: #FFF;
	border-radius: 10px;
	padding: 32px;
}

.element-img {
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	margin-right: 25px;
	background: rgba(113, 59, 219, 0.05);
}

.element-number {
	font-size: 34px;
	letter-spacing: 0.01em;
	line-height: 40px;
	font-weight: 700;
}

#porc {
	font-size: 26px;
	opacity: 30%;
	letter-spacing: 0.01em;
}

.element-title {
	color: #A6ACBE;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
}

.grande {
    display: flex;
	align-items: center;
	width: 840px;
	height: 375px;
	background: #FFF;
	border-radius: 10px;
	padding: 32px;
}

.alto {
    display: flex;
	align-items: center;
	width: 395px;
	height: 555px;
	background: #FFF;
	border-radius: 10px;
	padding: 32px;
}